<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container py-5">

    <h1 class="mb-4 text-center">Famous Quotes - Admin Section</h1>

    <div class="d-flex flex-column gap-3 align-items-center">

        <a href="/addAuthor" class="btn btn-primary btn-lg w-50">New Author</a>
        <a href="/addQuote" class="btn btn-primary btn-lg w-50">New Quote</a>
        <a href="/search" class="btn btn-primary btn-lg w-50">Search by Keyword</a>
        <a href="/searchByCategory" class="btn btn-primary btn-lg w-50">Search by Category</a>
        <a href="/searchByAuthor" class="btn btn-primary btn-lg w-50">Search by Author</a>
        <a href="/searchByLikes" class="btn btn-primary btn-lg w-50">Search by Likes Range</a>

    </div>

</body>
<footer>
    <%- include("partials/foot.ejs") %>
</footer>
</html>
